In [1]:
import pandas as pd
import numpy as np
from __future__ import division

In [2]:
location = 'titanic.xls'
df = pd.read_excel(location)

In [3]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
# each feature of the passengers
df_survived = df[df['survived'] == 1] # passengers that survived
df_boy = df[(df['sex'] == 'male') & (df['age'] < 18)] # passengers that were boys
df_woman = df[(df['sex'] == 'female') & (df['age'] >= 18)] # passengers that were women
df_man = df[(df['sex'] == 'male') & (df['age'] >= 18)] # passengers that were men
df_1class = df[df['pclass'] == 1] # passengers that were in first class
df_2class = df[df['pclass'] == 2] # passengers that were in second class
df_3class = df[df['pclass'] == 3] # passengers that were in third class

In [5]:
# probability of each attribute
p_survived = len(df_survived)/len(df) # 38.2% of passengers survived
p_boy = len(df_boy)/len(df) # 6.3% of passengers were boys
p_woman = len(df_woman)/len(df) # 24.1% of passengers were women
p_man = len(df_man)/len(df) # 44% of passengers were men
p_1class = len(df_1class)/len(df) # 24.7% of passengers were in first class
p_2class = len(df_2class)/len(df) # 21.2% of passengers were in second class
p_3class = len(df_3class)/len(df) # 54.2% of passengers were in third class

In [6]:
# each feature given that the passenger survived
df_boy_survived = df_survived[(df['sex'] == 'male') & (df['age'] < 18)]
df_woman_survived = df_survived[(df['sex'] == 'female') & (df['age'] >= 18)]
df_man_survived = df_survived[(df['sex'] == 'male') & (df['age'] >= 18)]
df_1class_survived = df_survived[df['pclass'] == 1]
df_2class_survived = df_survived[df['pclass'] == 2]
df_3class_survived = df_survived[df['pclass'] == 3]

C:\Users\krish.DESKTOP-RBG7LSA\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\krish.DESKTOP-RBG7LSA\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\krish.DESKTOP-RBG7LSA\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
C:\Users\krish.DESKTOP-RBG7LSA\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
C:\Users\krish.DESKTOP-RBG7LSA\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\krish.DESKTOP-RBG7LSA\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [7]:
# probability of each feature given that the passenger survived
p_boy_survived = len(df_boy_survived)/len(df_survived) # 6.2% 
p_woman_survived = len(df_woman_survived)/len(df_survived) # 48.4% 
p_man_survived = len(df_man_survived)/len(df_survived) # 20.8% 
p_1class_survived = len(df_1class_survived)/len(df_survived) # 40% 
p_2class_survived = len(df_2class_survived)/len(df_survived) # 23.8% 
p_3class_survived = len(df_3class_survived)/len(df_survived) # 36.2%

In [10]:
# probability of surviving given that you are a boy in second class
p_survived_boy2class = (p_survived * p_boy_survived * p_2class_survived)/(p_boy * p_2class)
p_survived_boy2class

0.4251915998943382

In [11]:
# probability of surviving given that you are a woman in third class
p_survived_woman3class = (p_survived * p_woman_survived * p_3class_survived)/(p_woman * p_3class)
p_survived_woman3class

0.5118353359161593

In [12]:
# probability of surviving given that you are a man in first class
p_survived_man1class = (p_survived * p_man_survived * p_1class)/(p_man * p_1class)
p_survived_man1class

0.18055555555555552

# Who's more likely to survive?

# You are more likely to survive given that you are a woman in second class